


	<div class="card" {{action 'onClickCard' on='click'}}>
		<div class="front"> 
    		<img src="./images/{{card.image}}" alt="">
  		</div> 
  		<div class="back">
    		<img src="./images/back.png" alt="">
  		</div> 		
	</div>
